.home {
  color: red;
}

.text-left {
  text-align: left;
}

table.table-responsive {
  @media screen and (min-width: 1200px) {
    display: inline-table;
  }
}

div#DataTables_Table_0_paginate {
    margin-right: 200px;
}

.toggle-selection {
  position: absolute;
  bottom: 15px;
  right: 15px;
  z-index: 1;
  width: 150px;
}
